@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<p><a href="@Url.Action("Page1", "RestrictedArea")" class="btn btn-primary btn-lg">Page 1 &raquo;</a></p>
	<p><a href="@Url.Action("Page2", "RestrictedArea")" class="btn btn-primary btn-lg">Page 2 &raquo;</a></p>
    <p><a href="@Url.Action("Page3", "RestrictedArea")" class="btn btn-primary btn-lg">Page 3 &raquo;</a></p>
</div>

